<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ensure this meta tag is present for responsive design -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OKAfloor</title>
    <link rel="icon" href="/public/Símbolo Folha Preto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    
    
    
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<a href="https://wa.me/+554891997080" class="whatsapp-button" target="_blank">
    <img src="/public/whatsapp.png" alt="WhatsApp">
</a>

<body>
<header>
    <div class="header-container">
    <div class="top-navbar">
            <div class="container">
                <p style="margin-left: 7px;"> +55 (51) 90000-0000 | contato@okafloor.com.br</p>
            </div>
        </div>
        <nav class="navbar">
            <div class="logo">
                <img src="/public/Marca D_água Preta.png" alt="Logo" style="width: 80px;"> <!-- Ajuste o caminho e o tamanho conforme necessário -->
            </div>
            <button class="menu-button" id="menuButton">
                <img src="/public/menu3.png" alt="Menu" id="imgMenu"> <!-- Ajuste o caminho conforme necessário -->
            </button>
<div class="dropdown-menu" id="mobileDropdown" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">Produtos</a>
        <a class="dropdown-item" href="#"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">Categorias</a>
        <a class="dropdown-item" href="#"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">Contato</a>
        <a class="dropdown-item" href="#"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">Porque a Oka?</a>
        <a class="dropdown-item" href="#">
            <img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">
            Fale Conosco
        </a>
    </div>


            <div class="nav-links" id="navLinks">
                <div class="right-section">

                
                <!-- Barra de Pesquisa -->
                <li class="search-bar">
                    <div style="display: flex; align-items: center;">
                        <input type="text" placeholder="Pesquisar" style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px 0 0 4px; outline: none;">
                        <button type="submit" style="background-color: transparent; border: none; cursor: pointer; border-radius: 0 4px 4px 0;">
                            <img src="/public/lupa.png" alt="Pesquisar" style="width: 25px; height: 25px;">
                        </button>
                    </div>
                </li>
            </div>


                <div class="right-section">
                <!-- Links Sociais -->
                <li class="social-links" style="display: flex; padding: 0px; margin-right: -18px;">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="/public/facebook (1).png" alt="Facebook" id="socialImg"></a>
                    <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="/public/instagram (1).png" alt="Instagram" id="socialImg"></a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img src="/public/whatsapp (2).png" alt="YouTube" id="socialImg"></a>
                </li>
            </div>


            </div>
        </nav>
    </header>
    
    <main>
        <section class="banner">
            <div class="container">
                <img src="/public/thumbnail_banner10_resized.png" alt="Banner 1" class="banner-img">
                <img src="/public/thumbnail_banner15.jpg" alt="Banner 2" class="banner-img">
                <img src="/public/thumbnail_banner16.jpg" alt="Banner 3" class="banner-img">
            </div>
        </section>
       
        <hr class="separador">
        <section class="textoInicial">
            <div class="container">
                <div class="produto-info">
                    <h3>Pisos Laminados Oka: Elegância Natural Inspirada em Madeiras Autênticas</h3>
                    <p>
                        Os produtos da Oka trazem o conceito de um piso laminado que traz suas cores inspiradoras
                         em madeiras natural. Por isso os nomes : caravalho americano, Carvalho canadense e amendoim.
                            Ao instalar um piso da Oka vc vai ter a sensação de estar em um anime te de madeira natural.
                             E logo a madeira vem da natureza.
                    </p>
                </div>
            </div>
        </section>
        
        <hr class="separador"  data-aos="fade-up">
        <br/>
    <section>
          <div class="container">
                
                <div class="produto" data-aos="fade-up">
                    <img src="/public/pisoVesuvio.jpg" alt="Produto 1" style="width: 110px;">
                    <div class="produto-info">
                        <h3>Vesúvio grey</h3>
                        <p>
                            Atacado de alta qualidade para uso interno.</p>
                            <button id="detalhesBtn">Detalhes</button>
                    </div>
                </div>
                <div id="detalhesModal" class="modal">
                    <!-- Conteúdo da modal -->
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <h2>Especificações do Piso e Garantia</h2>
                      <!-- Tabela com as especificações -->
                      <table>
                        <tr>
                          <th>Especificação</th>
                          <th>Detalhes</th>
                        </tr>
                        <tr>
                          <td>Material</td>
                          <td>Laminado</td>
                        </tr>
                        <tr>
                          <td>Dimensões</td>
                          <td>8mm+1mm EVA= 9mm</td>
                        </tr>
                        <tr>
                          <td>Garantia</td>
                          <td>10 anos residencial<br/> 5 anos comercial moderado</td>
                        </tr>
                        <!-- Adicione mais linhas conforme necessário -->
                      </table>
                      
                    
                    </div>
                  </div>
                    </div>
                  </div>
                
            </div>
        </section>


        <br/><br/>
        <hr class="separador" data-aos="fade-up">
        <br/><br/><br/><br/>

        <section class="sobre" style="display: flex; align-items: center; justify-content: center; gap: 40px; padding: 0 20px;" data-aos="fade-up">
            <div class="content-wrapper" style="display: flex; flex-direction: column; align-items: center; justify-content: center; max-width: 100%; text-align: center;">
                <div class="info" style="max-width: 50%; text-align: left; padding-left: 20px;">
                
                    <p id="textoSobre">
                        <p id="pSobre">Quem nós somos</p>
                        <br/>
                        A OKAfloor é uma importadora Brasileira, com estrutura montada na China, para desenvolver e acompanhar todo o trabalho de nossos fornecedores, garantindo a qualidade dos produtos por nós importados.

Nossa equipe possui mais de 20 anos de experiência no mercado de pisos e revestimentos, desenvolvendo parceiros comerciais, treinando montadores, realizando assistência técnica e trazendo inovação para nosso mercado.

Nossa capacidade de fornecimento atual é de 30.000 m² por mês de pisos laminado gloss.

Trabalhamos somente com fornecedores de primeira linha, para garantir a qualidade e quantidade necessária para suprir o mercado brasileiro com  nossa linha de produtos.

Estamos sempre com foco em novos produtos e tecnologias para oferecer o que há de melhor para os nossos consumidores e contribuindo com a sustentabilidade do planeta e consciência ambiental.
                    </p>
                </div>
                <br/>
                <div class="imgInfo" style="max-width: 90%; margin-top: 20px;">
                    <img src="/public/ponto2.png" id="imgSobre" alt="Ponto 2" style="max-width: 100%; height: auto;">
                </div>
            </div>
           
        </section>
        <br/>
        <section class="pontos" data-aos="fade-up">
            <div class="ponto">
                <img src="/public/piso (1).png" alt="Ponto 1">
                <h3 class="pontosTitulo">Brilho Excepcional</h3>
<p>Nossos pisos laminados gloss destacam-se pelo brilho excepcional.</p>


            </div>
            <div class="ponto">
                <img src="/public/numero-20.png" alt="Ponto 2">
                <h3 class="pontosTitulo">Experiência</h3>
                <p>Experiência de Fabricação de mais de 20 Anos</p>
            </div>
            <div class="ponto">
                <img src="/public/lampada1.png" alt="Ponto 3">
                <h3 class="pontosTitulo">Foco em Sustentabilidade</h3>
                <p>Contribuindo com a sustentabilidade do planeta e consciência ambiental.</p>
            </div>
            <div class="ponto">
                <img src="/public/natureza (1).png" alt="Ponto 4">
                <h3 class="pontosTitulo">Domotex Alemanha</h3>
                <p>Participando da Domotex Alemanha 2024</p>
            </div>
        </section>

        <hr class="separador" data-aos="fade-up">
    
        <section class="extra" data-aos="fade-up">
            <div class="container">
                <div class="imagem">
                    <img src="/public/piso1_resized.jpg" alt="imagem1" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Amendoim Rústico</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso2_resized.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Carvalho Americano</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso3_resized.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Carvalho Canadense</h3>
                    </div>
                </div>
            </div>
            
        </section>

        <!-- Modal Zoom para Imagens -->
        <div id="imagemZoomModal" class="modal-zoom">
            <span class="close">&times;</span>
            <img class="modal-content" id="imagemZoom">
            <div id="captionZoom"></div>
        </div>
        

       
        <hr class="separador" data-aos="fade-up">
        <br/><br/><br/><br/>
        <section class="banner-inferior" id="banner-images" data-aos="fade-up">
            <!-- Conteúdo do banner inferior aqui -->

            <img src="/public/banner6.jpg" alt="Banner 1" class="banner-inferior" style="width: 100%;">
        </section>
        


        <footer class="main_footer container">
    
            <div class="content">
        
                <div class="colfooter">
                    
                    <h3 class="titleFooter"> Menu</h3>
                    
                    <ul>
                    
                      <li><a href="#" title="Página Inícial">Produtos</a></li>
                      <li><a href="#" title="Sobre a Empresa">Categorias</a></li>
                      <li><a href="#" title="Galeria de Fotos">Contato</a></li>
                      <li><a href="#" title="Fale Conosco">Fale Conosco</a></li>
                    
                    </ul>
        
                </div><!--Col Footer 1-->        
        
                <div class="colfooter">
                   
                   <h3 class="titleFooter"> Contato</h3>
                   <p><i class="icon icon-mail"></i> contato@okafloor.com.br</p>
                   <p><i class="icon icon-phone"></i> 51 90000-0000</p>
                   <p><i class="icon icon-whatsapp"></i> 51 90000-0000</p>
        
                </div><!--Col Footer 2-->
        
                <div class="colfooter">
                   
                   <h3 class="titleFooter"> Redes Sociais</h3>
                    
                   <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="botao"><span> <img src="/public/facebook.png" alt="Facebook" style="width: 40px;"> </span></a>
                    <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer" class="botao"><span> <img src="/public/instagram.png" alt="Instagram" style="width: 40px;"> </span></a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="botao"><span> <img src="/public/youtube.png" alt="Twitter" style="width: 40px;"> </span></a>
                    <a href="https://wa.me/+554891997080" target="_blank" rel="noopener noreferrer" class="botao"><span> <img src="/public/whatsapp.png" alt="Pinterest"  style="width: 40px;"> </span></a>
           
        
                </div><!--Col Footer 3-->
        
        
                <div class="clear"></div>
            
            </div><!--Contant-->
        
            <div class="main_footer_copy">
                
                <p class="m-b-footer"> Oka Floor. - 2024, todos os direitos reservados.</p> 
                <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: <a href="#" title="Seu nome">Anderson Anastácio</a></p>
            
            </div>
        
        </footer>
        
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
    <script>
        // Js para transição automática das imagens do banner
        document.addEventListener("DOMContentLoaded", function() {
            const bannerImages = document.querySelectorAll('.banner-img');
            let currentIndex = 0;
    
            function showImage(index) {
                bannerImages.forEach((image, i) => {
                    if (i === index) {
                        image.style.opacity = 1;
                    } else {
                        image.style.opacity = 0;
                    }
                });
            }
    
            function nextImage() {
                currentIndex = (currentIndex + 1) % bannerImages.length;
                showImage(currentIndex);
            }
    
            showImage(currentIndex); // Mostrar a primeira imagem inicialmente
            setInterval(nextImage, 5000); // Troca de imagem a cada 5 segundos (5000 milissegundos)
        });
    </script>
    <script>
      window.addEventListener('scroll', function() {
    const bannerBottom = document.querySelector('.banner-inferior').getBoundingClientRect().bottom;
    const windowHeight = window.innerHeight;
    const banner = document.querySelector('.banner-inferior');

    if (bannerBottom <= windowHeight) {
        // Aplicando o efeito de zoom no banner
        banner.style.transition = 'transform 0.5s ease';
        banner.style.transform = 'scale(1.1)';
    } else {
        // Removendo o efeito de zoom do banner
        banner.style.transition = 'transform 0.5s ease';
        banner.style.transform = 'scale(1)';
    }
});


    </script>

    <script>
        document.getElementById('btnModal').onclick = function() {
  document.getElementById('myModal').style.display = 'block';
}

document.querySelector('.close').onclick = function() {
  document.getElementById('myModal').style.display = 'none';
}

// Mudar a imagem do piso com base na cor selecionada
document.querySelectorAll('.color-option').forEach(item => {
    item.addEventListener('click', function() {
        var targetImage = this.getAttribute('data-target');
        document.getElementById('pisoImage').src = targetImage;
    });
});


    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    // Adiciona o evento de clique para cada opção de cor
    document.querySelectorAll('.color-option').forEach(item => {
        item.addEventListener('click', function() {
            // Obtém o caminho da imagem a partir do atributo data-target
            var targetImage = this.getAttribute('data-target');
            // Atualiza o src da imagem de preview
            document.getElementById('pisoImage').src = targetImage;
        });
    });
});

    </script>
    <script>
        // Fecha o modal ao clicar fora dele
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

    </script>
 

    
    <script>
window.addEventListener('scroll', function() {
    var topNavbar = document.querySelector('.top-navbar');
    var navbar = document.querySelector('.navbar');
    var topNavbarHeight = topNavbar.offsetHeight;
    var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollPosition >= topNavbarHeight) {
        navbar.style.position = 'fixed';
        navbar.style.top = '0';
        navbar.style.width = '100%'; // Assegura que o navbar ocupe toda a largura da tela
        // Remove qualquer margem superior do body para garantir que o navbar fique no topo
        document.body.style.marginTop = navbar.offsetHeight + 'px'; // Ajusta a margem do topo do body para evitar pular conteúdo
    } else {
        navbar.style.position = 'relative';
        navbar.style.top = 'auto';
        document.body.style.marginTop = '0'; // Restaura a margem superior original do body
    }
});


    </script>
    <script>
        // modal detalhes
        document.addEventListener("DOMContentLoaded", function() {
    var detalhesModal = document.getElementById('detalhesModal');
    var detalhesBtn = document.getElementById('detalhesBtn'); // Certifique-se que este é o ID do botão que abre o modal de detalhes
    var spanDetalhes = detalhesModal.getElementsByClassName("close")[0]; // Garante que o botão de fechar é o correto dentro do modal de detalhes

    detalhesBtn.onclick = function() {
        detalhesModal.style.display = "block";
    }

    spanDetalhes.onclick = function() {
        detalhesModal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == detalhesModal) {
            detalhesModal.style.display = "none";
        }
    }
});

    </script>
   
    <script>
document.addEventListener("DOMContentLoaded", function() {
    // Modal de Detalhes
    var detalhesModal = document.getElementById('detalhesModal');
    var detalhesBtn = document.getElementById('detalhesBtn');
    var spanDetalhes = detalhesModal.getElementsByClassName("close")[0];

    detalhesBtn.onclick = function() {
        detalhesModal.style.display = "flex"; // Use "flex" para centralizar com CSS
    }

    spanDetalhes.onclick = function() {
        detalhesModal.style.display = "none";
    }

    // Modal de Zoom
    var zoomModal = document.getElementById('imagemZoomModal');
    var imagens = document.getElementsByClassName('imagem-grande'); // Substitua 'imagem-grande' pelo class correto das imagens
    var spanZoom = zoomModal.getElementsByClassName("close")[0];

    Array.from(imagens).forEach(function(element) {
        element.onclick = function() {
            zoomModal.style.display = "flex"; // Use "flex" para centralizar com CSS
            document.getElementById("imagemZoom").src = this.src; // Ajuste conforme a estrutura do seu HTML
        }
    });

    spanZoom.onclick = function() {
        zoomModal.style.display = "none";
    }

    // Fecha os modais ao clicar fora
    window.onclick = function(event) {
        if (event.target == detalhesModal) {
            detalhesModal.style.display = "none";
        } else if (event.target == zoomModal) {
            zoomModal.style.display = "none";
        }
    }
});

        </script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var menuButton = document.getElementById("menuButton");
        var dropdownMenu = document.getElementById("mobileDropdown");

        menuButton.addEventListener("click", function(event) {
            event.stopPropagation(); // Impede que o evento de clique seja propagado para o window

            var rect = menuButton.getBoundingClientRect(); // Obtém as coordenadas do botão de menu

            // Define a posição horizontal do menu dropdown
            var leftPosition = rect.left - dropdownMenu.offsetWidth + menuButton.offsetWidth;
            dropdownMenu.style.left = leftPosition + "px";

            // Define a posição vertical do menu dropdown
            dropdownMenu.style.top = (rect.bottom + window.pageYOffset) + "px";

            dropdownMenu.classList.toggle("show");
        });

        // Fecha o menu dropdown quando o usuário clica fora dele
        window.addEventListener("click", function(event) {
            if (!event.target.matches('#menuButton')) {
                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                }
            }
        });
    });
</script>










    
    
    
    
        
</body>
</html>