<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OKAfloor</title>
    <link rel="icon" href="/public/Símbolo Folha Preto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    
    
    
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<a href="https://wa.me/+554891997080" class="whatsapp-button" target="_blank">
    <img src="/public/whatsapp.png" alt="WhatsApp">
</a>

<body>
<header>
    <div class="header-container">
    <div class="top-navbar">
            <div class="container">
                <p id="numeroTelefone" > +55 (51) 90000-0000 | contato@okafloor.com.br</p>
            </div>
        </div>
        <nav class="navbar">
            <div class="logo" id="logoTopo">
                <img src="/public/Marca D_água Preta.png" alt="Logo"> <!-- Ajuste o caminho conforme necessário -->
            </div>
            <button class="menu-button" id="menuButton">
                <img src="/public/menu11.png" alt="Menu" id="imgMenu"> <!-- Ajuste o caminho conforme necessário -->
            </button>
<div class="dropdown-menu" id="mobileDropdown" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#textoSobre"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">SOBRE NÓS</a>
        <a class="dropdown-item" href="#extra"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">CORES</a>
        <a class="dropdown-item" href="#contato"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">CONTATO</a>
        
    </div>


            <div class="nav-links" id="navLinks">
                <div class="right-section">

                
                    <li class="search-bar">
                        <div style="display: flex; align-items: center; position: relative;">
                          <input type="text" id="searchInput" placeholder="Pesquisar...">
                          <button type="submit" id="searchButton" style="background-color: transparent; border: none; cursor: pointer; border-radius: 0 4px 4px 0;">
                            <img src="/public/lupa.png" alt="Pesquisar" style="width: 25px; height: 25px;">
                          </button>
                        </div>
                         <!-- Moved outside the flex container but still inside the li -->
                      </li>

                  


                <div class="right-section">
                <!-- Links Sociais -->
                <li class="social-links" style="display: flex; padding: 0px; margin-right: -18px;">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="/public/facebook.png" alt="Facebook" id="socialImg"></a>
                    <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="/public/instagram.png" alt="Instagram" id="socialImg"></a>
                    <a href="https://wa.me/+554891997080/" target="_blank" rel="noopener noreferrer"><img src="/public/whatsappAzul.png" alt="YouTube" id="socialImg"></a>
                </li>
            </div>


            </div>
        </nav>
        <div id="searchResults"></div>
    </header>
    
    <main>
        <section class="banner">
            <div class="container">
                <img src="/public/thumbnail_banner10_resized.png" alt="Banner 1" class="banner-img" id="banner1">
                <img src="/public/banner02.jpg" alt="Banner 2" class="banner-img" id="banner2">
                <img src="/public/bannerTeste008_resized.webp" alt="Banner 3" class="banner-img" id="banner3">
            </div>
            <div class="navigation-dots"></div>

        </section>
       
        <hr class="separador">
        <section class="textoInicial searchable"data-section-name="Conceito" id="Conceito" ata-target="#Conceito">
            <div class="container">
                <div class="produto-info">
                    <h3>Pisos Laminados Oka: Elegância Natural Inspirada em Madeiras Autênticas</h3>
                    <p>
                        Os pisos laminados okafloor são alto-tráfego e com sitema de clic de encaixe com com a exclusiva proteção "Wax treatment protection", uma aplicação de cera parafinada nos encaixes que confere maior resistência a umidade e acidentes com líquidos.
                    </p>
                </div>
            </div>
        </section>
        
        <hr class="separador"  data-aos="fade-up">
        <br/>
    <section>
        <div class="container searchable" data-section-name="Produto" id="Produto" ata-target="#Produto">
                
                <div class="produto" id="produto" data-aos="fade-up">
                    <img src="/public/piso.jpg" alt="Produto 1" style="width: 110px;">
                    <div class="produto-info">
                        <h3>Vesúvio grey</h3>
                        <p>
                            Atacado de alta qualidade para uso interno.</p>
                            <button id="detalhesBtn">Ver Detalhes</button>
                    </div>
                </div>
                <div id="detalhesModal" class="modal">
                    <!-- Conteúdo da modal -->
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <h2>Especificações do Piso e Garantia</h2>
                      <!-- Tabela com as especificações -->
                      <table>
                        <tr>
                            <th>Recomendação de Uso</th>
                            <td>Residencial / Comercial Moderado</td>
                        </tr>
                        
                        <tr>
                            <th>Espessura</th>
                            <td>9 mm</td>
                        </tr>
                        <tr>
                            <th>Largura</th>
                            <td>145 mm</td>
                        </tr>
                        <tr>
                            <th>Comprimento</th>
                            <td>1.220 mm</td>
                        </tr>
                        <tr>
                            <th>Sistema de Encaixe</th>
                            <td>Duplo Click</td>
                        </tr>
                        <tr>
                            <th>Garantia</th>
                            <td>Residencial – 10 anos, Comercial Moderado – 5 anos</td>
                        </tr>
                        <!-- Adicione mais linhas conforme necessário -->
                      </table>
                      
                    
                    </div>
                  </div>
                    </div>
                  </div>
                
            </div>
        </section>

        <hr class="separador" data-aos="fade-up">



        <section class="pontosPisos searchable" data-section-name="Pontos Pisos" id="Pontos Pisos" ata-target="#Pontos Pisos" data-aos="fade-up">
            <div class="ponto">
                <img src="/public/a-prova-dagua.png" alt="Ponto 1">
                <h3 class="pontosTitulo">Excedente à água</h3>



            </div>
            <div class="ponto">
                <img src="/public/anti-deslizante.png" alt="Ponto 2">
                <h3 class="pontosTitulo">Antiderrapante</h3>
                
            </div>
            <div class="ponto">
                <img src="/public/anti-umidade.png" alt="Ponto 3">
                <h3 class="pontosTitulo">anti-umidade</h3>
                
            </div>
            <div class="ponto">
                <img src="/public/pet.png" alt="Ponto 4">
                <h3 class="pontosTitulo">Superior resistente a crianças</h3>
                
            </div>
            <div class="ponto">
                <img src="/public/durabilidade.png" alt="Ponto 5">
                <h3 class="pontosTitulo">Super estabilidade ＆ Extrema durabilidade </h3>
                
            </div>
            <div class="ponto">
                <img src="/public/manutencao-facil.png" alt="Ponto 6">
                <h3 class="pontosTitulo">Fácil de manter com sistema Click Lock </h3>
                
            </div>
            <div class="ponto">
                <img src="/public/andar.png" alt="Ponto 7">
                <h3 class="pontosTitulo">Confortável para andar</h3>
                
            </div>
            <div class="ponto">
                <img src="/public/leve.png" alt="Ponto 8">
                <h3 class="pontosTitulo">Leve</h3>
                
            </div>
            <div class="ponto">
                <img src="/public/natureza (1).png" alt="Ponto 9">
                <h3 class="pontosTitulo">Ecologicamente correto e renovável </h3>
                
            </div>
            <div class="ponto">
                <img src="/public/absorçãoSonora.png" alt="Ponto 10">
                <h3 class="pontosTitulo">Absorção sonora e redução de ruído</h3>
                
            </div>
           
        </section>

        

        <br/><br/>
        <hr class="separador" data-aos="fade-up">
        <br/><br/><br/><br/>

        <section class="sobre searchable" data-section-name="Sobre" id="Sobre" ata-target="#Sobre"  data-aos="fade-up">
            <div class="content-wrapper" >
                <div class="info" >
                
                    <p id="textoSobre">
                        <p id="pSobre">Quem nós somos</p>
                        <br/>
                        A Oka floor é uma importadora brasieleira cobrindo mais de 12.000 metros quadrados com 200 empregadores, a capacidade anual é de 2 milhões de metros quadrados de piso. Com departamento de P&D integrado, linha de produtos, departamento de controle de controle de qualidade, departamento de embalagem e entrega, departamento de vendas, departamento de serviços. como um fornecedor sustentável de pisos de PVC ecologicamente corretos, com mais de décadas de experiência na exportação de vários pisos para os mercados americano, europeu, do Oriente Médio e do Sudeste Asiático, etc.
                    </p>
                </div>
                <br/>
                <div class="imgInfo">
                    <img src="/public/pontos.png" id="imgSobre" alt="Ponto 2" style="max-width: 100%; height: auto;">
                </div>
            </div>
           
        </section>
        <br/>
        <section class="pontos searchable" data-section-name="Pontos Fortes" id="Pontos Fortes" ata-target="#Pontos Fortes" data-aos="fade-up">
            <div class="ponto">
                <img src="/public/piso (1).png" alt="Ponto 1">
                <h3 class="pontosTitulo">Brilho Excepcional</h3>
<p>Destacam-se pelo brilho excepcional.</p>


            </div>
            <div class="ponto">
                <img src="/public/numero-20.png" alt="Ponto 2">
                <h3 class="pontosTitulo">Experiência</h3>
                <p>Experiência de Fabricação de mais de 20 Anos</p>
            </div>
            <div class="ponto">
                <img src="/public/lampada1.png" alt="Ponto 3">
                <h3 class="pontosTitulo">Foco em Sustentabilidade</h3>
                <p>Sustentabilidade do planeta e consciência ambiental.</p>
            </div>
            <div class="ponto">
                <img src="/public/mundo (2).png" alt="Ponto 4">
                <h3 class="pontosTitulo">Domotex Alemanha</h3>
                <p>Participando da Domotex Alemanha 2024</p>
            </div>
        </section>

        <hr class="separador" data-aos="fade-up">
    
        <section class="extra searchable" data-section-name="Cores disponíveis" id="extra" id="Cores disponíveis" ata-target="#Cores disponíveis" data-aos="fade-up">
            <div class="container">
                <div class="imagem" >
                    <img src="/public/piso003Recortado.jpg" alt="imagem1" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Amendoim Rústico</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso001Recortado.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Carvalho Canadense</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso004Recortado.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Vesúvio Gray</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso005Recortado.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Carvalho Americano</h3>
                    </div>
                </div>
            </div>
            
        </section>

        <!-- Modal Zoom para Imagens -->
        <div id="imagemZoomModal" class="modal-zoom">
            <span class="close">&times;</span>
            <img class="modal-content-zoom" id="imagemZoom">
            <div id="captionZoom"></div>
        </div>

        <hr class="separador" data-aos="fade-up">


<!-- Sessão PisoLekol -->
<section class="pisoLekolSection searchable" id="pisoLekolSection" data-section-name="Cores disponíveis" id="extra" id="Cores disponíveis" ata-target="#Cores disponíveis">
    <div class="pisoLekolContainer" data-aos="fade-up">
        <img src="/public/pisoLekol.webp" alt="Piso Lekol" class="pisoLekolImage">
        <p class="pisoLekolText">Piso laminado O piso laminado é um tipo de material de piso sintético projetado para se parecer com madeira, pedra ou azulejo real, mas é feito de camadas de fibra comprimida com uma imagem fotográfica do estilo de piso desejado na parte superior. Uma camada protetora transparente é então adicionada ao topo da camada da imagem para criar uma superfície durável e resistente a arranhões.</p>
    </div>
</section>

       
        <hr class="separador" data-aos="fade-up">
     
        


        <footer class="main_footer searchable" data-section-name="Cores disponíveis" id="extra" id="Contato" ata-target="#Cores disponíveis">
            <div class="footer_top">
                <div class="logo_footer">
                    <!-- Logo Image -->
                    <img src="/public/Marca D'água Branca.png" alt="Logo OKA">
                </div>
            </div>
            <div class="footer_bottom">
                <div class="footer_left">
                    <div class="footer_address">
                        <h3>Endereço</h3>
                        <p><i class="icon icon-map-marker"></i> 123 Rua Exemplo, Cidade, Estado</p>
                    </div>
                    <br/>
                    <div class="footer_contact searchable" id="contato">
                        <h3>Contato</h3>
                        <p><i class="icon icon-mail"></i> contato@okafloor.com.br</p>
                        <p><i class="icon icon-phone"></i> 51 90000-0000</p>
                        <p><i class="icon icon-whatsapp"></i> 51 90000-0000</p>
                    </div>
                    <div class="footer_iconesSociais" style="display: flex; margin-top: 30px; padding: 10px; gap: 10px; margin-left: 10px;">
                        
                        <p><i class="icon icon-mail"></i><img src="/public/facebookBranco.png" alt="Logo OKA" style="width: 40px;"></p>
                        <p><i class="icon icon-phone"></i><img src="/public/instagramBranco.png" alt="Logo OKA" style="width: 40px;"></p>
                        <p><i class="icon icon-whatsapp"></i><img src="/public/whatsappBranco.png" alt="Logo OKA" style="width: 40px;"></p>
                    </div>
                    
                    
                </div>
                <div class="footer_newsletter">
                    <h3>Fique por dentro de todas as <h3 style=" font-weight: bold; font-size: 21px;"> novidades da OKAfloor</h3></h3>
                    
                    <form>
                        <input type="nome" placeholder="Seu nome" required>
                        <br/>
                        <input type="email" placeholder="Seu email" required>
                        <br/>
                        <input type="profissao" placeholder="Sua profissão" required>
                        <br/><br/>
                        <button type="submit">Inscrever</button>
                    </form>
                </div>
            </div>
        </footer>
        
        
        <!-- Caixa de aviso de cookies -->
        <div id="cookieConsentContainer" >
            <img id="cookieIcon" src="/public/cookies-da-web.png" alt="Ícone de Cookie">Este site utiliza cookies para garantir que você obtenha a melhor experiência em nosso site. 
            <button id="acceptCookieConsent">Aceito</button>
        </div>
        

        
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
    <script>
        // Js para transição automática das imagens do banner
        document.addEventListener("DOMContentLoaded", function() {
            const bannerImages = document.querySelectorAll('.banner-img');
            let currentIndex = 0;
    
            function showImage(index) {
                bannerImages.forEach((image, i) => {
                    if (i === index) {
                        image.style.opacity = 1;
                    } else {
                        image.style.opacity = 0;
                    }
                });
            }
    
            function nextImage() {
                currentIndex = (currentIndex + 1) % bannerImages.length;
                showImage(currentIndex);
            }
    
            showImage(currentIndex); // Mostrar a primeira imagem inicialmente
            setInterval(nextImage, 5000); // Troca de imagem a cada 5 segundos (5000 milissegundos)
        });
    </script>
    <script>
      window.addEventListener('scroll', function() {
    const bannerBottom = document.querySelector('.banner-inferior').getBoundingClientRect().bottom;
    const windowHeight = window.innerHeight;
    const banner = document.querySelector('.banner-inferior');

    if (bannerBottom <= windowHeight) {
        // Aplicando o efeito de zoom no banner
        banner.style.transition = 'transform 0.5s ease';
        banner.style.transform = 'scale(1.1)';
    } else {
        // Removendo o efeito de zoom do banner
        banner.style.transition = 'transform 0.5s ease';
        banner.style.transform = 'scale(1)';
    }
});


    </script>

    <script>
        document.getElementById('btnModal').onclick = function() {
  document.getElementById('myModal').style.display = 'block';
}

document.querySelector('.close').onclick = function() {
  document.getElementById('myModal').style.display = 'none';
}

// Mudar a imagem do piso com base na cor selecionada
document.querySelectorAll('.color-option').forEach(item => {
    item.addEventListener('click', function() {
        var targetImage = this.getAttribute('data-target');
        document.getElementById('pisoImage').src = targetImage;
    });
});


    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    // Adiciona o evento de clique para cada opção de cor
    document.querySelectorAll('.color-option').forEach(item => {
        item.addEventListener('click', function() {
            // Obtém o caminho da imagem a partir do atributo data-target
            var targetImage = this.getAttribute('data-target');
            // Atualiza o src da imagem de preview
            document.getElementById('pisoImage').src = targetImage;
        });
    });
});

    </script>
    <script>
        // Fecha o modal ao clicar fora dele
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

    </script>
 

    
    <script>
window.addEventListener('scroll', function() {
    var topNavbar = document.querySelector('.top-navbar');
    var navbar = document.querySelector('.navbar');
    var topNavbarHeight = topNavbar.offsetHeight;
    var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollPosition >= topNavbarHeight) {
        navbar.style.position = 'fixed';
        navbar.style.top = '0';
        navbar.style.width = '100%'; // Assegura que o navbar ocupe toda a largura da tela
        // Remove qualquer margem superior do body para garantir que o navbar fique no topo
        document.body.style.marginTop = navbar.offsetHeight + 'px'; // Ajusta a margem do topo do body para evitar pular conteúdo
    } else {
        navbar.style.position = 'relative';
        navbar.style.top = 'auto';
        document.body.style.marginTop = '0'; // Restaura a margem superior original do body
    }
});


    </script>
    <script>
        // modal detalhes
        document.addEventListener("DOMContentLoaded", function() {
    var detalhesModal = document.getElementById('detalhesModal');
    var detalhesBtn = document.getElementById('detalhesBtn'); // Certifique-se que este é o ID do botão que abre o modal de detalhes
    var spanDetalhes = detalhesModal.getElementsByClassName("close")[0]; // Garante que o botão de fechar é o correto dentro do modal de detalhes

    detalhesBtn.onclick = function() {
        detalhesModal.style.display = "block";
    }

    spanDetalhes.onclick = function() {
        detalhesModal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == detalhesModal) {
            detalhesModal.style.display = "none";
        }
    }
});

    </script>
   
    <script>
document.addEventListener("DOMContentLoaded", function() {
    // Modal de Detalhes
    var detalhesModal = document.getElementById('detalhesModal');
    var detalhesBtn = document.getElementById('detalhesBtn');
    var spanDetalhes = detalhesModal.getElementsByClassName("close")[0];

    detalhesBtn.onclick = function() {
        detalhesModal.style.display = "flex"; // Use "flex" para centralizar com CSS
    }

    spanDetalhes.onclick = function() {
        detalhesModal.style.display = "none";
    }

    // Modal de Zoom
    var zoomModal = document.getElementById('imagemZoomModal');
    var imagens = document.getElementsByClassName('imagem-grande'); // Substitua 'imagem-grande' pelo class correto das imagens
    var spanZoom = zoomModal.getElementsByClassName("close")[0];

    Array.from(imagens).forEach(function(element) {
        element.onclick = function() {
            zoomModal.style.display = "flex"; // Use "flex" para centralizar com CSS
            document.getElementById("imagemZoom").src = this.src; // Ajuste conforme a estrutura do seu HTML
        }
    });

    spanZoom.onclick = function() {
        zoomModal.style.display = "none";
    }

    // Fecha os modais ao clicar fora
    window.onclick = function(event) {
        if (event.target == detalhesModal) {
            detalhesModal.style.display = "none";
        } else if (event.target == zoomModal) {
            zoomModal.style.display = "none";
        }
    }
});

        </script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var menuButton = document.getElementById("menuButton");
    var dropdownMenu = document.getElementById("mobileDropdown");

    menuButton.addEventListener("click", function(event) {
        event.stopPropagation(); // Impede que o evento de clique seja propagado para o window

        var rect = menuButton.getBoundingClientRect(); // Obtém as coordenadas do botão de menu

        // Define a posição horizontal do menu dropdown
        var leftPosition = rect.left -50; // Mantém a posição horizontal igual à esquerda do botão de menu
        dropdownMenu.style.left = leftPosition + "px";

        // Define a posição vertical do menu dropdown abaixo do botão de menu
        var topPosition = rect.bottom - 43; // Ajuste a distância vertical do menu dropdown conforme necessário
        dropdownMenu.style.top = topPosition + "px";

        dropdownMenu.classList.toggle("show");
    });

    // Fecha o menu dropdown quando o usuário clica fora dele
    window.addEventListener("click", function(event) {
        if (!event.target.matches('#menuButton')) {
            if (dropdownMenu.classList.contains('show')) {
                dropdownMenu.classList.remove('show');
            }
        }
    });
});

</script>  
<script>
    function updateBannerImages() {
        var screenWidth = window.innerWidth;
        var banner1 = document.getElementById('banner1');
        var banner2 = document.getElementById('banner2');
        var banner3 = document.getElementById('banner3');

        if (screenWidth <= 768) {
            banner1.src = "/public/bannerMobile.png";
            banner2.src = "/public/banner002Mobile.jpg";  //muda as imagens do banner conforma o dispositvo (web/mobile)
            banner3.src = "/public/bannerTeste008Mobile.webp";
        } else {
            banner1.src = "/public/thumbnail_banner10_resized.png";
            banner2.src = "/public/banner005.jpg";
            banner3.src = "/public/bannerTeste008_resized.webp";
        }
    }

    document.addEventListener("DOMContentLoaded", updateBannerImages);
    window.addEventListener("resize", updateBannerImages);
</script>
<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const yOffset = -210; // Ajuste este valor conforme necessário para centralizar a seção
        const element = document.querySelector(this.getAttribute('href'));
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

        window.scrollTo({top: y, behavior: 'smooth'});
    });
});

    </script>
   <script>
document.getElementById('searchButton').addEventListener('click', function(event) {
    event.stopPropagation(); // Prevents the window click listener from immediately hiding the results
    const searchQuery = document.getElementById('searchInput').value.toLowerCase();
    const contentItems = document.querySelectorAll('.searchable');
    const searchResults = document.getElementById('searchResults');

    searchResults.innerHTML = ''; // Clear previous results

    let resultCount = 0;
    contentItems.forEach((item, index) => {
        if (item.textContent.toLowerCase().includes(searchQuery)) {
            resultCount++;
            const resultItem = document.createElement('div');
            resultItem.classList.add('result-item');
            resultItem.innerHTML = `<strong>${searchQuery}</strong> encontrado em: <span>${item.getAttribute('data-section-name')}</span>`;
            resultItem.addEventListener('click', () => {
                const sectionId = item.getAttribute('id');
                const yOffset = -212; // Adjust this value based on your fixed header's height
                const element = document.getElementById(sectionId);
                const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

                window.scrollTo({top: y, behavior: 'smooth'});
                searchResults.style.display = 'none'; // Hide the results after clicking
            });
            searchResults.appendChild(resultItem);
        }
    });

    if (resultCount === 0) {
        searchResults.innerHTML = '<p>Nenhum resultado encontrado.</p>';
    }

    if (searchQuery) {
        document.getElementById('searchResults').style.display = 'block'; // Only display results if there is a search query
    }
});

// Hide the results when clicking outside, but don't hide when clicking the search button itself
window.addEventListener('click', function(event) {
    if (!event.target.closest('.search-bar') && !event.target.closest('#searchButton')) {
        document.getElementById('searchResults').style.display = 'none';
    }
});

    </script>
    
    <script>
        document.getElementById('logoTopo').addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
        </script>

        <script>
            contentItems.forEach((item, index) => {
    if (item.textContent.toLowerCase().includes(searchQuery)) {
        resultCount++;
        const resultItem = document.createElement('div');
        resultItem.classList.add('result-item');
        // Dividindo o texto em "Resultado X" em negrito e o resto em preto
        resultItem.innerHTML = `<strong>Resultado ${resultCount}:</strong><span> ${item.getAttribute('data-section-name')}</span>`;
        resultItem.addEventListener('click', () => {
            const sectionId = item.getAttribute('id');
            document.getElementById(sectionId).scrollIntoView({
                behavior: 'smooth'
            });
        });
        searchResults.appendChild(resultItem);
    }
});

        </script>
        <script>
      document.addEventListener("DOMContentLoaded", function() {
    // Verifica se o botão de pesquisa existe antes de adicionar o ouvinte de evento
    var searchButton = document.getElementById('searchButton');
    if (searchButton) {
        searchButton.addEventListener('click', function(event) {
            event.preventDefault();
            const searchQuery = document.getElementById('searchInput').value.toLowerCase();
            // Assegura que contentItems é definido dentro deste escopo
            const contentItems = document.querySelectorAll('.searchable');
            const searchResults = document.getElementById('searchResults');

            searchResults.innerHTML = ''; // Limpa resultados anteriores

            let resultCount = 0;
            contentItems.forEach((item) => {
                if (item.textContent.toLowerCase().includes(searchQuery)) {
                    resultCount++;
                    const resultItem = document.createElement('div');
                    resultItem.classList.add('result-item');
                    resultItem.innerHTML = `<strong>${searchQuery}</strong> encontrado em: <span>${item.getAttribute('data-section-name')}</span>`;
                    resultItem.addEventListener('click', () => {
                        const sectionId = item.getAttribute('id');
                        const yOffset = -212; // Ajuste baseado na altura do cabeçalho fixo
                        const element = document.getElementById(sectionId);
                        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

                        window.scrollTo({top: y, behavior: 'smooth'});
                        searchResults.style.display = 'none'; // Esconde os resultados após clicar
                    });
                    searchResults.appendChild(resultItem);
                }
            });

            if (resultCount === 0) {
                searchResults.innerHTML = '<p>Nenhum resultado encontrado.</p>';
            }

            document.getElementById('searchResults').style.display = 'block'; // Exibe resultados se houver uma consulta de pesquisa
        });
    }
});


          </script>

<script>
    // Função para definir um cookie
    document.addEventListener("DOMContentLoaded", function() {
    // Função para definir um cookie
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    
    // Função para obter um cookie
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    
    // Verifica se o cookie de consentimento já foi aceito
    function checkCookieConsent() {
        if(!getCookie('cookieConsent')) {
            document.getElementById('cookieConsentContainer').style.display = 'block';
        }
    }
    
    // Configura o cookie de consentimento e esconde a caixa de diálogo
    var acceptButton = document.getElementById('acceptCookieConsent');
    if (acceptButton) {
        acceptButton.addEventListener('click', function() {
            setCookie('cookieConsent', 'accepted', 365);
            document.getElementById('cookieConsentContainer').style.display = 'none';
        });
    }
    
    checkCookieConsent();
});

    </script>
    
          
        
</body>
</html>