<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>OKAfloor</title>
            <link rel="icon" href="/public/Símbolo Folha Preto.png" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
                <link rel="stylesheet" href="/src/styles/styles.css">
            </head>
            <a href="https://wa.me/+554891997080" class="whatsapp-button" target="_blank">
                <img src="/public/whatsapp.png" alt="WhatsApp">
            </a>
            <body>
            <header>
                <div class="header-container">
                <div class="top-navbar">
                        <div class="container">
                            <p id="numeroTelefone" > +55 (48) 99199-7080 | contato@okafloor.com.br</p>
                        </div>
                    </div>
                    <nav class="navbar">
                        <div class="logo" id="logoTopo">
                            <img src="/public/logoAtual.png" alt="Logo">
                        </div>
                        <button class="menu-button" id="menuButton">
                            <img src="/public/menu11.png" alt="Menu" id="imgMenu">
                        </button>
            <div class="dropdown-menu" id="mobileDropdown" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#banner1"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">HOME</a>
                    <a class="dropdown-item" href="#sobre-nos"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">SOBRE NÓS</a>
                    <a class="dropdown-item" href="#extra"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">PRODUTOS</a>
                    <a class="dropdown-item" href="#downloads"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">DOWNLOADS</a>
                    <a class="dropdown-item" href="#contato"><img src="/public/Símbolo Folha Preto.png" style="width: 20px; margin-right: 5px;" alt="iconeFolha">CONTATO</a>
                    
                </div>
            <div class="nav-links" id="navLinks">
                <div class="right-section">

                
                    <li class="search-bar">
                        <div style="display: flex; align-items: center; position: relative;">
                          <input type="text" id="searchInput" placeholder="Pesquisar...">
                          <button type="submit" id="searchButton" style="background-color: transparent; border: none; cursor: pointer; border-radius: 0 4px 4px 0;">
                            <img src="/public/lupa.png" alt="Pesquisar" style="width: 25px; height: 25px;">
                          </button>
                        </div>
                      </li>

                <div class="right-section">
                <li class="social-links" style="display: flex; padding: 0px; margin-right: -18px;">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="/public/facebook.png" alt="Facebook" id="socialImg"></a>
                    <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="/public/instagram.png" alt="Instagram" id="socialImg"></a>
                    <a href="https://wa.me/+554891997080/" target="_blank" rel="noopener noreferrer"><img src="/public/whatsappAzul.png" alt="YouTube" id="socialImg"></a>
                </li>
            </div>


            </div>
        </nav>
        <div id="searchResults"></div>
    </header>
    
    <main>
        <section class="banner">
            <div class="container">
                <img src="/public/thumbnail_banner10_resized.png" alt="Banner 1" class="banner-img" id="banner1">
                <img src="/public/banner005.jpg" alt="Banner 2" class="banner-img" id="banner2">
                <img src="/public/bannerTeste008_resized.webp" alt="Banner 3" class="banner-img" id="banner3">
            </div>
            <div class="navigation-dots"></div>

        </section>
       
                    <hr class="separador">
                    <section class="textoInicial searchable"data-section-name="Conceito" id="Conceito" ata-target="#Conceito">
                        <div class="container">
                            <div class="produto-info">
                                <h3 style="font-size: 30px;">Pisos laminados oka: Elegância natural inspirada em madeiras autênticas</h3>
                                <p>
                                    Os pisos laminados okafloor são alto-tráfego e com sitema de clic de encaixe com com a exclusiva proteção
                                     "Wax treatment protection", uma aplicação de cera parafinada nos encaixes que confere maior resistência a umidade e acidentes com líquidos.
                                </p>
                            </div>
                        </div>
                    </section>
                    
                    <hr class="separador"  data-aos="fade-up">
                    <br/>
            <section>
            <div class="containerProduto" data-section-name="Produto" id="Produto">
                <div class="produtoDetalhes" id="produto" data-aos="fade-up">
                <img src="/public/piso.jpg" alt="Produto 1" class="produtoImagem">
                <div class="produtoTexto">
                    <h3 style="font-size: 40px;">Piso Laminado</h3>
                    <p>O piso laminado é um tipo de material de piso sintético projetado para se parecer
                         com madeira, pedra ou azulejo real, mas é feito de camadas de fibra comprimida com
                          uma imagem fotográfica do estilo de piso desejado na parte superior. Uma camada
                           protetora transparente é então adicionada ao topo da camada da imagem para criar
                            uma superfície durável e resistente a arranhões.</p>
                </div>
                </div>
            </div>
            </section>


        <hr class="separador" data-aos="fade-up">

       
        <br/><br/>

        <section class="sobre searchable" data-section-name="Sobre" id="Sobre" ata-target="#Sobre"  data-aos="fade-up">
            <div class="content-wrapper" >
                <div class="info" >
                    
                <div class="imgInfo">
                    <img src="/public/pp.png" id="imgSobre" alt="Ponto 2" style="max-width: 100%; height: auto;">
                </div>
                <br/>
                    <p id="textoSobre">
                        <p id="pSobre" style="font-size: 40px;">Nosso Fornecedor</p>
                        <br/>
                        Nosso fornecedor cobre mais de 12.000 metros quadrados com 200
                         empregadores, a capacidade anual é de 2 milhões de metros quadrados de piso. Com departamento
                          de P&D integrado, linha de produtos, departamento de controle de qualidade,
                           departamento de embalagem e entrega, departamento de vendas, departamento de serviços.
                            como um fornecedor sustentável de pisos laminados ecologicamente corretos, com mais de décadas
                             de experiência na exportação de vários pisos para os mercados americano, europeu, do Oriente
                              Médio e do Sudeste Asiático, etc.
                    </p>
                </div>
                
                <br/>
                
            </div>
           
        </section>
        <br/>
        <section class="pontos searchable" data-section-name="Pontos Fortes" id="Pontos Fortes" ata-target="#Pontos Fortes" data-aos="fade-up">
            <div class="ponto">
                <img src="/public/piso (1).png" alt="Ponto 1">
                <h3 class="pontosTitulo">Brilho Excepcional</h3>
                <p>Destacam-se pelo brilho excepcional.</p>


            </div>
            <div class="ponto">
                <img src="/public/numero-20.png" alt="Ponto 2">
                <h3 class="pontosTitulo">Experiência</h3>
                <p>Experiência de Fabricação de mais de 20 Anos</p>
            </div>
            <div class="ponto">
                <img src="/public/lampada1.png" alt="Ponto 3">
                <h3 class="pontosTitulo">Foco em Sustentabilidade</h3>
                <p>Sustentabilidade do planeta e consciência ambiental.</p>
            </div>
            <div class="ponto">
                <img src="/public/mundo (2).png" alt="Ponto 4">
                <h3 class="pontosTitulo">Domotex Alemanha</h3>
                <p>Participando da Domotex Alemanha 2024</p>
            </div>
        </section>

        <hr class="separador" data-aos="fade-up">
    
        <section class="extra searchable" data-section-name="Produtos" id="extra" id="Cores disponíveis" ata-target="#Cores disponíveis" data-aos="fade-up">
            <div class="container">
                <div class="imagem" >
                    <img src="/public/piso003Recortado.jpg" alt="imagem1" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Amendoim Rústico</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/testeRR.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Carvalho Canadense</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso004Recortado.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Vesúvio Gray</h3>
                    </div>
                </div>
                <div class="imagem">
                    <img src="/public/piso005Recortado.jpg" alt="imagem2" class="imagem-grande">
                    <div class="produto-info">
                        <h3>Carvalho Americano</h3>
                    </div>
                </div>
            </div>
            
        </section>
         <div id="imagemZoomModal" class="modal-zoom">
                        <span class="close">&times;</span>
                        <img class="modal-content-zoom" id="imagemZoom">
                        <div id="captionZoom"></div>
                    </div>
                   

                    <hr class="separador" data-aos="fade-up" style="background-color: transparent;">

                     <section class="pontosPisos searchable" data-section-name="Vantagens" id="Pontos Pisos" ata-target="#Pontos Pisos" data-aos="fade-up">
                        
            <div class="pontosPisos">
                <img src="/public/a-prova-dagua.png" alt="Ponto 1">
                <h3 class="pontosTitulo">Resistente a lamina d'água</h3>
            </div>
            <div class="pontosPisos">
                <img src="/public/leve.png" alt="Ponto 2">
                <h3 class="pontosTitulo">Leve</h3>
                
            </div>
           <div class="pontosPisos">
                <img src="/public/manutencao-facil.png" alt="Ponto 6">
                <h3 class="pontosTitulo">Fácil de manter com sistema Click Lock </h3>
                
            </div>
            <div class="pontosPisos">
                <img src="/public/clean.png" alt="Ponto 4">
                <h3 class="pontosTitulo">Fácil de limpar</h3>
                
            </div>
             <div class="pontosPisos">
                <img src="/public/natureza (1).png" alt="Ponto 9">
                <h3 class="pontosTitulo">Ecologicamente correto e renovável </h3>
                
            </div>
            
            <div class="pontosPisos">
                <img src="/public/absorçãoSonora.png" alt="Ponto 10">
                <h3 class="pontosTitulo">Absorção sonora e redução de ruído</h3>
                
            </div>
            
           
            
           
        </section>

          <hr class="separador" data-aos="fade-up" style="background-color: transparent;">

          <section class="tabela-especificacoes" data-aos="fade-up">
            <div class="tabela-especificacoes-wrapper">
                <table>
    <thead>
        <tr>
            <th colspan="2">Especificação Técnica:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Recomendação de Uso</td>
            <td>Residencial / Comercial Leve</td>
        </tr>
        <tr>
            <td>Categoria de Uso</td>
            <td>AC4</td>
        </tr>
        <tr>
            <td>Espessura</td>
            <td>9 mm</td>
        </tr>
        <tr>
            <td>Largura</td>
            <td>145 mm</td>
        </tr>
        <tr>
            <td>Comprimento</td>
            <td>1.220 mm</td>
        </tr>
        <tr>
            <td>Sistema de Encaixe</td>
            <td>Duplo-Click</td>
        </tr>
        <tr>
            <td>Garantia</td>
            <td>Residencial – 10 anos, Comercial Moderado – 5 anos</td>
        </tr>
    </tbody>
</table>
              </div>
              
          </section>
          
          <hr class="separador" data-aos="fade-up" >


                <section class="pisoLekolSection searchable" id="pisoLekolSection" data-section-name="Detalhes" id="extra" id="Cores disponíveis" ata-target="#Sobre Nós">
                    <div class="pisoLekolContainer" data-aos="fade-up">
                        <img src="/public/pisoLekol.webp" alt="Piso Lekol" class="pisoLekolImage">
                        <p class="pisoLekolText">O piso de PVC combina durabilidade, estética
                             e practicality de maneira excepcional. Sua <strong>resistência à umidade</strong>
                             o torna ideal para áreas suscetíveis a derramamentos de líquidos, enquanto
                              o <strong>substrato de alta densidade</strong> oferece uma base sólida,
                               reduzindo ruídos e aumentando o conforto. A aparência é enriquecida
                                com decorative wood grain paper <strong>papel decorativo que simula a textura da madeira</strong>,
                                 proporcionando o charme natural com a resistência do PVC. Além disso,
                                  uma <strong>camada densa</strong> protege contra arranhões e desgastes, garantindo
                                   que o piso mantenha sua beleza por anos, mesmo sob uso intenso. Esse conjunto de características
                                    faz do piso de PVC uma escolha prática e elegante para qualquer ambiente.</p>
                    </div>
                </section>

                <hr class="separador" data-aos="fade-up">

                <section class="sobre-nos searchable" data-section-name="A oka" id="sobre-nos" data-aos="fade-up">
                    <div class="container">
                        <h2 style="margin-left: -5px; font-size: 40px;">Quem Somos Nós</h2>
                        <p>A OKAfloor é uma importadora Brasileira, com estrutura montada na China, para desenvolver
                             e acompanhar todo o trabalho de nossos fornecedores, garantindo a qualidade dos produtos
                              por nós importados. Nossa equipe possui mais de 20 anos de experiência no mercado de pisos
                               e revestimentos, desenvolvendo parceiros comerciais, treinando montadores, realizando
                                assistência técnica e trazendo inovação para nosso mercado. Nossa capacidade
                                 de fornecimento atual é de 10.000 m² por mês de pisos laminado gloss. Trabalhamos
                                  somente com fornecedores de primeira linha, para garantir a qualidade e quantidade
                                   necessária para suprir o mercado brasileiro com nossa linha de produtos.
                                    Estamos sempre com foco em novos produtos e tecnologias para oferecer o que há de
                                     melhor para os nossos consumidores e contribuindo com a sustentabilidade do planeta
                                      e consciência ambiental.</p>
                    </div>            
                </section>
                                
                     <hr class="separador" data-aos="fade-up" style="background-color: transparent;">

                     <section class="lojas-revendedoras searchable" data-section-name="Onde encontrar" data-aos="fade-up">
                        <br/><br/>
                        <h2 style="margin-left: 10px; font-size: 20px;">Onde nos encontrar</h2>
                        <div class="container-lojas">
                            <div class="card-loja">
                                <h3>Loja 1</h3>
                                <p>Rua Exemplo, 123 - Bairro, Cidade</p>
                            </div>
                            <div class="card-loja">
                                <h3>Loja 2</h3>
                                <p>Avenida Exemplo, 456 - Bairro, Cidade</p>
                            </div>
                            <div class="card-loja">
                                <h3>Loja 3</h3>
                                <p>Travessa Exemplo, 789 - Bairro, Cidade</p>
                            </div>
                        </div>
                    </section>

                    <hr class="separador" data-aos="fade-up">
                    

                    <section class="downloads searchable" data-section-name="Downloads" id="downloads" data-aos="fade-up">
                        <div class="container">
                            <h2 style="font-size: 15px;">Downloads</h2>
                            <div class="card">
                                <h3>Especificação</h3>
                                <p><a href="/public/arquivos/espec (1).pdf" download="Especificação.pdf">Baixar PDF</a></p>
                            </div>
                           
                            
                        </div>
                    </section>

                    <hr class="separador" data-aos="fade-up" style="background-color: transparent;">
  
            <footer class="main_footer searchable" data-section-name="Rodapé" id="extra" id="Contato" ata-target="#Cores disponíveis">
            <div class="footer_top">
                <div class="logo_footer">
                    <img src="/public/Marca D'água Branca.png" alt="Logo OKA">
                </div>
            </div>
            <div class="footer_bottom">
                <div class="footer_left">
                    <div class="footer_address">
                        <h3>Endereço:</h3>
                        <br/>
                        <p><i class="icon icon-map-marker"></i>MATRIZ CURITIBA - PR, Rua Das Carmelitas 4009.</p>
                        <br/>
                       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14403.725515454511!2d-49.2345824!3d-25.507335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfaf3c618c56d%3A0xf995897c747f9eaf!2sR.%20das%20Carmelitas%2C%204009%20-%20Boqueir%C3%A3o%2C%20Curitiba%20-%20PR%2C%2081730-050!5e0!3m2!1spt-BR!2sbr!4v1708605855510!5m2!1spt-BR!2sbr" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                    <br/>
                    <br/>
                    <div class="footer_contact searchable" id="contato">
                        <h3>Contato</h3>
                        <p><i class="icon icon-mail"></i> contato@okafloor.com.br</p>
                        <p><i class="icon icon-phone"></i> (48) 99199-7080</p>
                        <p><i class="icon icon-whatsapp"></i> (48) 99199-7080</p>
                    </div>
                    <div class="footer_iconesSociais" style="display: flex; margin-top: 30px; padding: 10px; gap: 10px; margin-left: 10px;">
                        
                        <p><a href="https://www.facebook.com/seuPerfil"><img src="/public/facebookBranco.png" alt="Facebook" style="width: 40px;"></a></p>
                        <p><a href="https://www.instagram.com/seuPerfil"><img src="/public/instagramBranco.png" alt="Instagram" style="width: 40px;"></a></p>
                        <p><a href="https://wa.me/seuNumero"><img src="/public/whatsappBranco.png" alt="WhatsApp" style="width: 40px;"></a></p>

                    </div>
                    
                </div>
                <div class="footer_newsletter">
                    <h3>Fique por dentro de todas as <h3 style=" font-weight: bold; font-size: 21px;"> novidades da OKAfloor!</h3></h3>
                    
                    <form>
                        <input type="nome" placeholder="Seu nome" required>
                        <br/>
                        <input type="email" placeholder="Seu email" required>
                        <br/>
                        <input type="profissao" placeholder="Sua profissão" required>
                        <br/><br/>
                        <button type="submit">Inscrever</button>
                    </form>
                </div>
            </div>
        </footer>
        
        <div id="cookieConsentContainer" >
            <img id="cookieIcon" src="/public/cookies-da-web.png" alt="Ícone de Cookie">Este site utiliza cookies para garantir que você obtenha a melhor experiência em nosso site. 
            <button id="acceptCookieConsent">Aceito</button>
        </div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const bannerImages = document.querySelectorAll('.banner-img');
            let currentIndex = 0;
    
            function showImage(index) {
                bannerImages.forEach((image, i) => {
                    if (i === index) {
                        image.style.opacity = 1;
                    } else {
                        image.style.opacity = 0;
                    }
                });
            }
    
            function nextImage() {
                currentIndex = (currentIndex + 1) % bannerImages.length;
                showImage(currentIndex);
            }
    
            showImage(currentIndex);
            setInterval(nextImage, 5000);
        });
    </script>
    <script>
      window.addEventListener('scroll', function() {
    const bannerBottom = document.querySelector('.banner-inferior').getBoundingClientRect().bottom;
    const windowHeight = window.innerHeight;
    const banner = document.querySelector('.banner-inferior');

    if (bannerBottom <= windowHeight) {
        banner.style.transition = 'transform 0.5s ease';
        banner.style.transform = 'scale(1.1)';
    } else {
        banner.style.transition = 'transform 0.5s ease';
        banner.style.transform = 'scale(1)';
    }
});


    </script>

    <script>
        document.getElementById('btnModal').onclick = function() {
        document.getElementById('myModal').style.display = 'block';
}

  document.querySelector('.close').onclick = function() {
  document.getElementById('myModal').style.display = 'none';
}

    document.querySelectorAll('.color-option').forEach(item => {
    item.addEventListener('click', function() {
        var targetImage = this.getAttribute('data-target');
        document.getElementById('pisoImage').src = targetImage;
    });
});
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.color-option').forEach(item => {
        item.addEventListener('click', function() {
            var targetImage = this.getAttribute('data-target');
            document.getElementById('pisoImage').src = targetImage;
        });
    });
});
    </script>

    <script>

            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
 
    <script>
            window.addEventListener('scroll', function() {
            var topNavbar = document.querySelector('.top-navbar');
            var navbar = document.querySelector('.navbar');
            var topNavbarHeight = topNavbar.offsetHeight;
            var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollPosition >= topNavbarHeight) {
                navbar.style.position = 'fixed';
                navbar.style.top = '0';
                navbar.style.width = '100%';
                document.body.style.marginTop = navbar.offsetHeight + 'px';
            } else {
                navbar.style.position = 'relative';
                navbar.style.top = 'auto';
                document.body.style.marginTop = '0';
            }
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var detalhesModal = document.getElementById('detalhesModal');
            var detalhesBtn = document.getElementById('detalhesBtn');
            var spanDetalhes = detalhesModal.getElementsByClassName("close")[0];

            detalhesBtn.onclick = function() {
                detalhesModal.style.display = "block";
            }

            spanDetalhes.onclick = function() {
                detalhesModal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == detalhesModal) {
                    detalhesModal.style.display = "none";
                }
            }
        });

    </script>
   
    <script>
            document.addEventListener("DOMContentLoaded", function() {
                var detalhesModal = document.getElementById('detalhesModal');
                var detalhesBtn = document.getElementById('detalhesBtn');
                var spanDetalhes = detalhesModal.getElementsByClassName("close")[0];

                detalhesBtn.onclick = function() {
                    detalhesModal.style.display = "flex";
    }

                spanDetalhes.onclick = function() {
                    detalhesModal.style.display = "none";
                }

                var zoomModal = document.getElementById('imagemZoomModal');
                var imagens = document.getElementsByClassName('imagem-grande');
                var spanZoom = zoomModal.getElementsByClassName("close")[0];

                Array.from(imagens).forEach(function(element) {
                    element.onclick = function() {
                        zoomModal.style.display = "flex";
                        document.getElementById("imagemZoom").src = this.src;
                        }
                    });

                    spanZoom.onclick = function() {
                        zoomModal.style.display = "none";
                    }

                        window.onclick = function(event) {
                            if (event.target == detalhesModal) {
                                detalhesModal.style.display = "none";
                            } else if (event.target == zoomModal) {
                                zoomModal.style.display = "none";
                            }
                        }
                    });

        </script>

    <script>
            document.addEventListener("DOMContentLoaded", function() {
                var menuButton = document.getElementById("menuButton");
                var dropdownMenu = document.getElementById("mobileDropdown");

                menuButton.addEventListener("click", function(event) {
                    event.stopPropagation();
                    var rect = menuButton.getBoundingClientRect();
                    var leftPosition = rect.left -50;
                    dropdownMenu.style.left = leftPosition + "px";
                    var topPosition = rect.bottom - 43;
                    dropdownMenu.style.top = topPosition + "px";
                    dropdownMenu.classList.toggle("show");
                });
                    window.addEventListener("click", function(event) {
                        if (!event.target.matches('#menuButton')) {
                            if (dropdownMenu.classList.contains('show')) {
                                dropdownMenu.classList.remove('show');
                            }
                        }
                    });
                });

    </script>  


        <script>
            function updateBannerImages() {
                var screenWidth = window.innerWidth;
                var banner1 = document.getElementById('banner1');
                var banner2 = document.getElementById('banner2');
                var banner3 = document.getElementById('banner3');

                if (screenWidth <= 768) {
                    banner1.src = "/public/bannerMobile.png";
                    banner2.src = "/public/banner002Mobile.jpg";
                    banner3.src = "/public/bannerTeste008Mobile.webp";
                } else {
                    banner1.src = "/public/thumbnail_banner10_resized.png";
                    banner2.src = "/public/banner005.jpg";
                    banner3.src = "/public/bannerTeste008_resized.webp";
                }
            }

            document.addEventListener("DOMContentLoaded", updateBannerImages);
            window.addEventListener("resize", updateBannerImages);
        </script>


            <script>
                document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
                    const yOffset = -210;
                    const element = document.querySelector(this.getAttribute('href'));
                    const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

                    window.scrollTo({top: y, behavior: 'smooth'});
                    });
                });

            </script>

       <script>
                 document.getElementById('searchButton').addEventListener('click', function(event) {
                    event.stopPropagation();
                    const searchQuery = document.getElementById('searchInput').value.toLowerCase();
                    const contentItems = document.querySelectorAll('.searchable');
                    const searchResults = document.getElementById('searchResults');

                    searchResults.innerHTML = '';

                    let resultCount = 0;
                    contentItems.forEach((item, index) => {
                        if (item.textContent.toLowerCase().includes(searchQuery)) {
                            resultCount++;
                            const resultItem = document.createElement('div');
                            resultItem.classList.add('result-item');
                            resultItem.innerHTML = `<strong>${searchQuery}</strong> encontrado em: <span>${item.getAttribute('data-section-name')}</span>`;
                            resultItem.addEventListener('click', () => {
                                const sectionId = item.getAttribute('id');
                                const yOffset = -212;
                                const element = document.getElementById(sectionId);
                                const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

                                window.scrollTo({top: y, behavior: 'smooth'});
                                searchResults.style.display = 'none';
                            });
                            searchResults.appendChild(resultItem);
                        }
                    });

                    if (resultCount === 0) {
                        searchResults.innerHTML = '<p>Nenhum resultado encontrado.</p>';
                    }

                    if (searchQuery) {
                        document.getElementById('searchResults').style.display = 'block';
                    }
                });
                        window.addEventListener('click', function(event) {
                            if (!event.target.closest('.search-bar') && !event.target.closest('#searchButton')) {
                                document.getElementById('searchResults').style.display = 'none';
                            }
                        });

            </script>
    
                <script>
                    document.getElementById('logoTopo').addEventListener('click', function() {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    });
                    </script>

                <script>
                    contentItems.forEach((item, index) => {
                    if (item.textContent.toLowerCase().includes(searchQuery)) {
                        resultCount++;
                        const resultItem = document.createElement('div');
                        resultItem.classList.add('result-item');
                        resultItem.innerHTML = `<strong>Resultado ${resultCount}:</strong><span> ${item.getAttribute('data-section-name')}</span>`;
                        resultItem.addEventListener('click', () => {
                            const sectionId = item.getAttribute('id');
                            document.getElementById(sectionId).scrollIntoView({
                                behavior: 'smooth'
                            });
                        });
                        searchResults.appendChild(resultItem);
                    }
                });

                </script>

                 <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var searchButton = document.getElementById('searchButton');
                        if (searchButton) {
                            searchButton.addEventListener('click', function(event) {
                                event.preventDefault();
                                const searchQuery = document.getElementById('searchInput').value.toLowerCase();
                                const contentItems = document.querySelectorAll('.searchable');
                                const searchResults = document.getElementById('searchResults');

                                searchResults.innerHTML = '';

                                let resultCount = 0;
                                contentItems.forEach((item) => {
                                    if (item.textContent.toLowerCase().includes(searchQuery)) {
                                        resultCount++;
                                        const resultItem = document.createElement('div');
                                        resultItem.classList.add('result-item');
                                        resultItem.innerHTML = `<strong>${searchQuery}</strong> encontrado em: <span>${item.getAttribute('data-section-name')}</span>`;
                                        resultItem.addEventListener('click', () => {
                                            const sectionId = item.getAttribute('id');
                                            const yOffset = -212;
                                            const element = document.getElementById(sectionId);
                                            const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

                                            window.scrollTo({top: y, behavior: 'smooth'});
                                            searchResults.style.display = 'none';
                                        });
                                        searchResults.appendChild(resultItem);
                                    }
                                });

                                if (resultCount === 0) {
                                    searchResults.innerHTML = '<p>Nenhum resultado encontrado.</p>';
                                }

                                document.getElementById('searchResults').style.display = 'block';
                            });
                        }
                    });
          </script>

                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                    function setCookie(name, value, days) {
                        var expires = "";
                        if (days) {
                            var date = new Date();
                            date.setTime(date.getTime() + (days*24*60*60*1000));
                            expires = "; expires=" + date.toUTCString();
                        }
                        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
                    }
                    
                    function getCookie(name) {
                        var nameEQ = name + "=";
                        var ca = document.cookie.split(';');
                        for(var i=0;i < ca.length;i++) {
                            var c = ca[i];
                            while (c.charAt(0)==' ') c = c.substring(1,c.length);
                            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                        }
                        return null;
                    }
                    
                    function checkCookieConsent() {
                        if(!getCookie('cookieConsent')) {
                            document.getElementById('cookieConsentContainer').style.display = 'block';
                        }
                    }
                    
                    var acceptButton = document.getElementById('acceptCookieConsent');
                    if (acceptButton) {
                        acceptButton.addEventListener('click', function() {
                            setCookie('cookieConsent', 'accepted', 365);
                            document.getElementById('cookieConsentContainer').style.display = 'none';
                        });
                    }
                    
                    checkCookieConsent();
                });

                    </script>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                        var images = document.querySelectorAll('.imagem-grande');

                        images.forEach(function(img) {
                            img.addEventListener('click', function() {
                            var modalImg = document.getElementById('imagemZoom');
                            modalImg.src = this.src;

                            var modal = document.getElementById('imagemZoomModal');
                            modal.style.display = "block";

                            var span = document.getElementsByClassName("close")[0];
                            span.onclick = function() {
                                modal.style.display = "none";
                            }
                            });
                        });
                        });
                        </script>

<script>
    document.addEventListener('click', function(event) {
  var modal = document.getElementById('imagemZoomModal');
  if (event.target == modal) {
    modal.style.display = "none";
  }
});

</script>
    
</body>
</html>
